@model IEnumerable<MerchantService.Models.mStaff>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h5>Staff</h5>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>

<p>
    @Html.ActionLink("Create New", "AddStaff") |
    @Html.ActionLink("Export to Excel", "ExportExcel")
</p>

<div class="container-fluid">

    <div class="row">
        <div class="col s12 m12 l12" style="height:400px;overflow:auto;">
            @Html.Grid(Model).Columns(columns =>
            {
                columns.Add(foo => foo.StaffID).Titled("ID").Sortable(true).Filterable(true).SetWidth(110);
                columns.Add(foo => foo.StaffName).Titled("Name").Sortable(true).Filterable(true);
                columns.Add(foo => foo.Department).Sortable(true).Filterable(true);
                columns.Add(foo => foo.Office).Sortable(true).Filterable(true);
                columns.Add().Encoded(false).Sanitized(false).SetWidth(50).RenderValueAs(foo => Html.ActionLink("Details", "ViewDetails", new { staffid = foo.StaffID }, new { @class = "waves-effect" }));
                columns.Add().Encoded(false).Sanitized(false).SetWidth(50).RenderValueAs(foo => Html.ActionLink("Edit", "Update", new { staffid = foo.StaffID }, new { @class = "waves-effect" }));
                //columns.Add().Encoded(false).Sanitized(false).SetWidth(50).RenderValueAs(foo => Html.ActionLink("Delete", "Delete", new { id = foo.MPU_Merchant_ID }, new { @class = "waves-effect" }));
            }).WithPaging(7)
        </div>
    </div>
</div>